## test of dropout in pands

In [14]:
import pandas as pd
import numpy as np
 
#Create a DataFrame
d = {
    'Name':['Alisa','Bobby','jodha','jack','raghu','Cathrine',
            'Alisa','Bobby','kumar','Alisa','Alex','Cathrine'],
        'aName':['Alisa','Bobby','jodha','jack','raghu','Cathrine',
            'Alisa','Bobby','kumar','Alisa','Alex','Cathrine'],
    'Age':[26,24,23,22,23,24,26,24,22,23,24,24],
      
       'Score':[85,63,55,74,31,77,85,63,42,62,89,77]}
 
df = pd.DataFrame(d,columns=['Name','aName','Age','Score'])

In [15]:
print( df )

        Name     aName  Age  Score
0      Alisa     Alisa   26     85
1      Bobby     Bobby   24     63
2      jodha     jodha   23     55
3       jack      jack   22     74
4      raghu     raghu   23     31
5   Cathrine  Cathrine   24     77
6      Alisa     Alisa   26     85
7      Bobby     Bobby   24     63
8      kumar     kumar   22     42
9      Alisa     Alisa   23     62
10      Alex      Alex   24     89
11  Cathrine  Cathrine   24     77

## if use code 
df1 = df.drop( df.columns[1,2] , axis = 1 )
## there will be error: too many indices

In [16]:
df1 = df.drop( df.columns[[1,2]] , axis = 1  )
print(df1)

        Name  Score
0      Alisa     85
1      Bobby     63
2      jodha     55
3       jack     74
4      raghu     31
5   Cathrine     77
6      Alisa     85
7      Bobby     63
8      kumar     42
9      Alisa     62
10      Alex     89
11  Cathrine     77